In [7]:
import pandas as pd
Budget = pd.read_csv("tn.movie_budgets.csv", index_col=0)
Budget = pd.DataFrame(Budget)
Budget

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,18-Dec-09,Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
2,20-May-11,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
3,7-Jun-19,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,1-May-15,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
5,15-Dec-17,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...
78,31-Dec-18,Red 11,"$7,000",$0,$0
79,2-Apr-99,Following,"$6,000","$48,482","$240,495"
80,13-Jul-05,Return to the Land of Wonders,"$5,000","$1,338","$1,338"
81,29-Sep-15,A Plague So Pleasant,"$1,400",$0,$0
82,5-Aug-05,My Date With Drew,"$1,100","$181,041","$181,041"

In [9]:
Budget.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   movie              5782 non-null   object
 2   production_budget  5782 non-null   object
 3   domestic_gross     5782 non-null   object
 4   worldwide_gross    5782 non-null   object
dtypes: object(5)
memory usage: 271.0+ KB

In [24]:
tn_movie_budgets = pd.read_csv("tn.movie_budgets.csv")
clean_tn_movie_budgets = prep.clean_tn_movie_budgets(tn_movie_budgets)

NameError: name 'prep' is not defined

In [ ]:
df['revenue'] = df['revenue'].apply(lambda x: int(x.split()[0].replace('$', ',')))

#view updated DataFrame
print(df)

In [23]:
worldwide_gross = worldwide_gross.astype(float)
production_budget= Production_budget.astype(float)

NameError: name 'worldwide_gross' is not defined

In [22]:
Budget['worldwide_gross'] = Budget['worldwide_gross'].float.replace('$', '').fillna(0).astype(float)
#Budget['production_budget'] = Budget['production_budget'].apply(lambda x: int(x.split()[0].replace('$', ',','')))
#Budget['domestic_gross'] = Budget['domestic_gross'].str.replace(',', '').fillna(0).astype(float)
#Budget['worldwide_gross'] = Budget['worldwide_gross'].str.replace(',', '').fillna(0).astype(float)
#Budgets['PROFIT'] = Budget['production_budget']-Budget['domestic_gross']-Budget['worldwide_gross']
#pd.options.display.float_format = '{:.2f}'.format
#Budget.drop(['domestic_gross','foreign_gross'], axis=1, inplace=True)
#Budget

AttributeError: 'Series' object has no attribute 'float'